@model PagingResult<UserViewModel>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Items)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@string.Join(", ", user.Roles)</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn-danger btn btn-sm" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-userId="@user.UserId">Delete</a>
                            <a class="btn-success btn btn-sm" asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-userId="@user.UserId">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" align="center">
                    <div class="d-flex justify-content-center align-items-end">
                        <pager pager-model="@Model"></pager>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>