@{
    var keyword = ViewData["filter"];
    var searchBy = ViewData["searchBy"];
    var orderBy = ViewData["orderBy"];
    var isAsc = ViewData["isAsc"];
}
<div class="input-group mb-3">
    <input type="text" class="form-control" value="@keyword" name="keyword" placeholder="Search ...">
    <select class="form-control" name="searchBy">
        @foreach (var searchByEnum in Enum.GetValues<PostSearchBy>())
        {
            if (searchByEnum == (PostSearchBy)searchBy)
            {
                <option value="@searchByEnum" selected>Find By @searchByEnum.GetDisplayName()</option>
            }
            else
            {
                <option value="@searchByEnum">Find By @searchByEnum.GetDisplayName()</option>
            }
        }
    </select>
    <select class="form-control" name="orderBy">
        @foreach (var orderByEnum in Enum.GetValues<PostOrderBy>())
        {
            if (orderByEnum == (PostOrderBy)orderBy)
            {
                <option value="@orderByEnum" selected>Order By @orderByEnum.GetDisplayName()</option>
            }
            else
            {
                <option value="@orderByEnum">Order By @orderByEnum.GetDisplayName()</option>
            }
        }
    </select>
    <select class="form-control" name="isAsc">
        @if ((bool)isAsc)
        {
            <option value="true" selected>Ascending</option>
            <option value="false">Descending</option>
        }
        else
        {
            <option value="true">Ascending</option>
            <option value="false" selected>Descending</option>
        }
    </select>
    <button type="submit" class="btn btn-success">Search</button>
</div>