@model TagListPostViewModel

@{
    ViewData["Title"] = "Tag " + Model.Tag.Name;
}

<div class="card">
    <div class="card-header row-cols-2">
        <p class="col">Name: @Model.Tag.Name</p>
        <p class="col">Slug: @Model.Tag.UrlSlug</p>
        <p class="col">Description: @Model.Tag.Description</p>
        <p class="col">Posted On: @Model.Tag.PostedOn</p>
        <p class="col">Modified: @Model.Tag.Modified</p>
    </div>
    <div class="card-body">
        <form method="get" asp-area="Admin" asp-controller="Tag" asp-action="ListPost" asp-route-tagId="@Model.Tag.Id">
            <input name="tagId" value="@Model.Tag.Id" hidden />
            <partial name="_PostFilterPartial" />
        </form>
        <partial name="_ListPostPartial" model="@Model.PostsOfTag" />
    </div>
</div>