@model IEnumerable<CategoryResponse>
@{ 
    ViewData["Title"] = "Category";
}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Posted On</th>
                <th>Modified On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>@category.PostedOn</td>
                    <td>@category.Modified</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn-danger btn btn-sm" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                            <a class="btn-success btn btn-sm" asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                            <a class="btn-primary btn btn-sm" asp-area="Admin" asp-controller="Category" asp-action="ListPost" asp-route-categoryId="@category.Id">List Posts</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>