@model CategoryListPostViewModel

@{
    ViewData["Title"] = "Category";
}

<div class="card">
    <div class="card-header row-cols-2">
        <p class="col">Name: @Model.Category.Name</p>
        <p class="col">Slug: @Model.Category.UrlSlug</p>
        <p class="col">Description: @Model.Category.Description</p>
        <p class="col">Posted On: @Model.Category.PostedOn</p>
        <p class="col">Modified: @Model.Category.Modified</p>
    </div>
    <div class="card-body">
        <form method="get" asp-area="Admin" asp-controller="Category" asp-action="ListPost" asp-route-categoryId="@Model.Category.Id">
            <input name="categoryId" value="@Model.Category.Id" hidden />
            <partial name="_PostFilterPartial" />
        </form>
        <partial name="_ListPostPartial" model="@Model.PostsOfCategory" />
    </div>
</div>