@model PagingResult<PostResponse>

@foreach (var post in Model.Items)
{
    <div class="post-preview">
        <a asp-controller="Post" asp-action="Detail" asp-route-slug="@post.UrlSlug">
            <h2 class="post-title">@post.Title</h2>
            <h3 class="post-subtitle">@post.ShortDescription</h3>
        </a>
        <p class="post-meta">
            Posted on <span class="moment-time">@post.PostedOn</span>
            rate @post.Rate with @post.ViewCount view(s)
        </p>
    </div>
    <hr class="my-4" />
}
<div class="d-flex justify-content-center align-items-end">
    <pager pager-model="@Model"></pager>
</div>